section {
  width: 20vw;
  height: 65vh;
  position: absolute;
  left: 50%;
  top: 150%;
  margin-left: -10vw;
  margin-top: -32.5vh;
  transition: 1s;

  article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

    .inner {
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 5vh 2.5vw 8vh;
      border-radius: 10px;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
      opacity: 0.6;
      transform: scale(0.8);
      transition: 1s;

      .pic {
        height: 15vw;
        width: 15vw;
        position: relative;
        background-repeat: no-repeat;
        background-position: -9999px -9999px;

        &::before,
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-image: inherit;
        }

        &::before {
          transform: translate(0, 10%);
          filter: blur(20px) brightness(130%);
        }

        .dot {
          width: 2.5vw;
          height: 2.5vw;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          border-radius: 50%;
          box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
          z-index: 3;
        }

        &.on {
          &::before {
            animation: rotation2 4s linear infinite;
          }

          &::after {
            animation: rotation 4s linear infinite;
          }
        }
      }

      .text {
        width: 15vw;
        text-align: center;
        position: absolute;
        margin-top: 60px;
        letter-spacing: 1px;

        h2 {
          margin-bottom: 20px;
        }

        p {
          color: #777;
        }

        .control {
          display: flex;
          justify-content: space-around;
          margin-top: 60px;

          li {
            cursor: pointer;
            opacity: 0.6;
            transition: 0.5s;

            &.play {
              transform: scale(1.5);
              opacity: 0.8;
            }

            &:hover {
              transform: scale(1.5);
              opacity: 0.8;

              &.play {
                transform: scale(1.8);
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &.on {
      .inner {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation2 {
  0% {
    transform: translateY(10%) rotate(0deg);
  }

  100% {
    transform: translateY(10%) rotate(360deg);
  }
}
